/a
/badboy
/ballpassing
/ballpassing.dSYM
/blocks
/childishpranks
/childishpranks.dSYM
/cowoperations
/cowoperations.dSYM
/diamondminer
/diamondminer.dSYM
/elegantgift
/elegantgift.dSYM
/gcdcomp
/gcdcomp.dSYM
/gcdproblem
/hps
/hps.dSYM
/lastclass
/lastclass.dSYM
/lovesong
/lovesong.dSYM
/mathdad
/memoryscenes
/memoryscenes.dSYM
/mocharedblue
/mocharedblue.dSYM
/mountains
/provehimwrong
/qualityvsquantity
/qualityvsquantity.dSYM
/robotinstructions
/robotinstructions.dSYM
/secondtime
/secondtime.dSYM
/sortadjdiff
/sortadjdiff.dSYM
/strangebdayparty
/strangebdayparty.dSYM
/tempCodeRunnerFile
/tempCodeRunnerFile.cpp
/testing
/testing$A.class
/testing$B.class
/testing$Base.class
/testing$Book.class
/testing$BookListing.class
/testing$Car.class
/testing$ClassA.class
/testing$ClassB.class
/testing$Derived.class
/testing$DiscountTicket.class
/testing$PictureBook.class
/testing$Thing1.class
/testing$Thing2.class
/testing$Ticket.class
/testing$Vehicle.class
/testing.class
/testing.dSYM
/testing.java
/years
/years.dSYM